@import ../modules/rounded.sass

!line_height              = 18px

!white                    = #ffffff
!black                    = #121212
!grey                     = #e6e6e6
!grey_dark                = #7e7e7e
!blue                     = #b3e6ff
!blue_light               = #d9f3ff
!blue_dark                = #366c92
!green                    = #58824e
!red                      = #cc0000
!tan                      = #cac8c0

body
  :background
    :color                = !blue_light

#content
  :position                 relative
  :overflow                 hidden
  :width                    100%
  :min
    :height                 100%
  :padding                  0

#shop_products
  :float                    left
  :width                    61%
  :padding                  2%
    
  #shop_product_categories_list
    :width                  15%
    :float                  left    
    :margin
      :top                = !line_height*0.5
      :bottom             = !line_height
      
    li.category
      :margin
        :bottom             2px
        :top                2px
      :line
        :height           = !line_height
      :text
        :align              right
      :font
        :size             = !line_height*0.75
      :border
        :color            = !black
        :width              2px
        :style              solid
        :right              0
      :background
        :color            = !white
        
      a
        :display            block
        :white
          :space            pre
        :padding          = !line_height*0.5
        :color            = !grey_dark
        :text
          :decoration       none
          
        &:hover
          :color          = !black
          
        &.current
          :background
            :color        = !grey
          :color          = !black
          :font
            :weight         bold

        &.new
          :background
            :color        = !green
          :color          = !white
          :font
            :weight         bold
    
  #shop_product_container
    :width                  84%
    :min  
      :height               200px
    :float                  left    
    :margin
      :top                = !line_height*0.5
      :bottom             = !line_height
    :background
      :color              = !grey
    :border
      :color              = !black
      :width                2px
      :style                solid

    #shop_product_category 
      :overflow             hidden
      :margin             = !line_height*0.5
      :padding
        :bottom           = !line_height*0.5
      :border
        :bottom
          :width            1px
          :color          = !grey_dark
          :style            solid
    
      #shop_product_category_title
        :float              left
        :width              100%
        :height           = !line_height*1.5
        :font
          :size           = !line_height
        
      #shop_product_category_delete
        :float              right
        :margin
          :top            = !line_height*0.5
        :font
          :size             12px
          :weight           bold
        :text
          :align            right
        :color            = !red
        :text
          :decoration       none
          
        &:hover
          :text
            :decoration     underline
    
    #shop_product_inputs
      :margin             = !line_height*0.5
      
      #shop_product_inputs_main
        :overflow           hidden
        :padding          = !line_height*0.5
        :background
          :color          = !tan
      
      #shop_product_name
        :float              left
        :height           = !line_height*1.25
        :width              80%
        :font
          :size             = !line_height*0.75
        
      #shop_product_currency
        :display            block
        :float              left
        :height           = !line_height*1.25
        :line
          :height         = !line_height*1.75
        :width              5%
        :font
          :size           = !line_height
          :weight           bold
        :text
          :align            right
      
      #shop_product_cost
        :float              right
        :height           = !line_height*1.25      
        :width              12%
        :font
          :size           = !line_height*0.75
          
      #shop_product_fields
        :padding
          :top            = !line_height*2
      
        table
          :width            100%
          
          .label
            :width          50px
            :height       = !line_height*1.5
            :line
              :height     = !line_height*1.5
           
          .field
            :padding
              :right        7px
              :height     = !line_height*1.5
                        
            input
              :width        100%
              :height     = !line_height
          
      .more_or_less
        :margin             0 0 1em
        :padding            4px 0 5px
        :font
          :size             80%
        
        a
          +round-bottom-corners(6px)
          :color          = !black
          :border
            :bottom
              :left
                :radius     6px
              :right
                :radius     6px
          :text
            :decoration     none
          :padding          4px 21px 5px 10px
          :position         relative
          :top              -1px
          
          &:hover, &:active, &:focus
            :text
              :decoration   underline
              
        #more_shop_product_fields
          :background     = "#{!tan} url(/images/admin/shop/product_fields_toggle.png) no-repeat 90% 8px"
        #less_shop_product_fields
          :background     = "#{!tan} url(/images/admin/shop/product_fields_toggle.png) no-repeat 85% -22px"
            
    #shop_product_details
      :margin             = !line_height*0.5
      :color                #333
      
      .tabs
        :float              left
        :width              100%
        :margin
          :right            -4px
        
        .tab
          +round-top-corners(4px)
          :padding        = !line_height*0.4 !line_height*0.5
          :margin
            :right        = !line_height*0.25
          :background
            :color        = !tan
          :color            #7f7f7f
          :display          inline-block
          :text
            :decoration     none

          &.here
            :background
              :color      = !white
            :color        = !black
            :font
              :weight       bold
        
          span:hover
            :color        = !black
            
          .close
            :display        none
            
      .details
        :background
          :color          = !white
        :width              100%
        :clear              both
        
        .detail
          :padding          20px 24px 20px 20px
        
          textarea
            :max
              :width        100%

#shop_products_alt
  :float                    left
  :width                    31%
  :height                   100%
  :padding                  2%
    
  #shop_products_list
    :margin
      :top                = !line_height
    :border
      :color                transparent
      :width                4px
      :style                solid
    
    li.product
      :line
        :height           = !line_height*1.5
      :text
        :indent           = !line_height*1.5

      &:hover
        :background
          :color          = !blue

      a
        :display            block
        :padding          = !line_height*0.5
        :color            = !blue_dark
        :text
          :decoration       none        
                
        &.current
          :background
            :color        = !blue_dark
          :color          = !blue_light
          :text
            :decoration     none