- unless @shop_product.new_record?
  %ul#images_list
    = render :partial => '/admin/shop/products/images/excerpt', :collection => @shop_product.assets
- else
  %p You can add images once you've created the product