- unless @shop_product.new_record?
  %ul#product_images_list
    = render :partial => '/admin/shop/products/images/image', :collection => @shop_product.product_images
- else
  %p You can add images once you've created the product