%h3.title Existing Images

%ol#images_list
  = render :partial => '/admin/shop/products/images/image', :collection => @shop_product.images_available
  
%a#image_browse_popup_close{ :href => '#image_browse_popup' } Close