%li.image{:id => "image_#{excerpt.id}", :'data-id' => excerpt.id}
  .wrapper
    %span.buffer
    %img.image{:src => excerpt.asset.thumbnail(:thumbnail), :alt => excerpt.asset.title}
  .actions
    %span.delete