%a#browse_images.button{:href => '#image_browse_popup', :class => 'popup'}= image('plus') + " " + t("browse_images")
%a#create_image.button{:href => '#image_form_popup', :class => 'popup'}= image('plus') + " " + t("new_image")