#tab_control
  .tabs
  .pages
    #page_images.detail.page{'data-caption'=>"images"}
      %ul#shop_product_images_list
    #page_description.page{'data-caption'=>"description"}
      %div
        = f.text_area :description, :class => 'large clearable', :style => 'width: 100%'