%li.product{:id => "shop_product_#{excerpt.id}", :'data-id' => excerpt.id, :'data-title' => excerpt.title}
  %span.price= number_to_currency excerpt.price
  - unless excerpt.images.empty?
    %img.image{ :src => excerpt.images.first.thumbnail(:thumbnail)  }
  - else
    %img.image{ :src => '/images/admin/placeholder.png'  }
  %span.title= excerpt.title

  .actions
    %span.delete