- form_for :shop_product, :url => admin_shop_products_path(:format => 'js'), :html => { :method => "post", :multipart => true, :target => 'shop_product_frame', :id => 'shop_product_form' } do |f|
  #shop_product_fields
    = render '/admin/shop/products/fields', :f => f
  
  #shop_product_details
    = render '/admin/shop/products/details', :f => f
  
  #shop_product_actions
    = render '/admin/shop/products/actions', :f => f