%li.product{:id => "shop_product_#{node.id}", :'data-id' => node.id}
  .attributes
    %span.handle.attribute
    - render_region :product do |product|
      - product.product_title do
        %a{ :href => edit_admin_shop_product_path(node), :title => node.title}
          - unless node.product_images.empty?
            %img{:src => node.product_images.first.url(:preview), :class => 'icon'}
        %span.title.attribute= link_to node.title, edit_admin_shop_product_path(node)
        %span.sku.attribute= node.sku
      - product.product_modify do
        .modify
          %span.remove= link_to t('remove'), remove_admin_shop_product_url(node)