%li.product{:'data-id' => product.id, :'data-title' => product.title}
  %span.price= product.price
  %img.image{ :src => '/images/admin/placeholder.png'}
  %span.title= product.title

  .actions
    %span.delete