%p.title= t('images')

%span.button#create_image
  %a{:href => '#asset_popup', :class => 'popup'}= image('plus') + " " + t("new_image")

%p.description
  Click on an image to attach it to a product
  
%ul#assets_list
  = render :partial => '/admin/shop/products/assets/excerpt', :collection => @shop_product.assets_available