- include_stylesheet 'admin/extensions/shop/products/forms'

- render_region :main do |main|
  - main.edit_header do
    %h1
      = t('new_product')    
  - main.edit_form do
    - form_for :shop_product, @shop_product, :url => admin_shop_products_path, :html => {:id => 'new_shop_product', :multipart => true, 'data-onsubmit_status'=>"Creating Product&#8230;"} do |f|
      = render :partial => 'fields', :object => f
  - main.edit_popups do
    - #empty
- render_region :sidebar do |sidebar|
  - #empty